.body{
      font-family: Arial, sans-serif;
      padding: 20px;
      
      
}

    h1 {
      text-align: center;
      color: #0047ab;
      margin-bottom: 30px;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .country-card {
      background: white;
      color: black;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      transition: transform 0.2s;
      overflow: hidden;
    }

    .country-card:hover {
      transform: scale(1.05);
    }

    .flag {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .info {
      padding: 15px;
    }

    .info h2 {
      color: #0047ab;
      margin: 10px 0;
    }

    .info p {
      margin: 5px 0;
      color: #333;
      font-size: 0.95em;
    }

    .country-card-visited{
      background-color:cadetblue;

    }